*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    margin-top: 3px;
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
}
.navbar ul{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.navbar ul li{
    color: white;
    opacity: 60%;
    text-decoration: none;
    font-size: 12px;
    padding: 50px;
}
.navbar ul li a{
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
    opacity: 60%;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(70, 143, 252);
}

/**first section  fsection**/
.fsection{
    width: 100%;
    height: fit-content;
    text-align: center;
}
.fsection h1{
    font-size: 50px;
    text-align: center;
}
.fsection p{
    text-align: center;
    font-size: 15px;
}


/**second section  ssection**/
.ssection{
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    text-align: center;
}
.ssection h1{
    font-size: larger;
}
.ssection h2{
    font-size: 45px;
}
.ssection h3{
    font-size: 50px;
}
.ssection p{
 font-size: 15px;   
}
.ssection img{
    height: 400px;
    width: 600px;
}

/**third section  tsection**/
.tsection{
    margin-top: 7%;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    gap: 15%;
}
.tsection h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.tsection h2{
    font-size: 20px;
    padding-bottom: 10px;
}
.tsection p{
    font-size: 15px;
}
.text{
    margin-top: 20%;
    margin-left: 10%;
    
}

/**fourth section  fthsection**/
.fthsection{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
#hi{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 98%;
    gap: 13px;
    padding: 10px;
    overflow: hidden;
}
.hi{
    background-color: white;
    overflow: hidden;

    height: 80vh;
    margin-top: 35px;
}
#hi img{
    overflow: hidden;
    height: 50vh;
    width: 110%;
}
.fthsection div{
    width: 30%;
}
.hi h1{
    font-size: 38px;
}

/**Footer**/
.footer{
    background-color: whitesmoke;
}
#list{
    width: 80%;
    margin-left: 14%;
    display: flex;
    gap: 15%;
}
.footer ul{
    list-style-type: none;
    font-size: 12px;
}
.footer li:hover{
    border-bottom: 1px solid black;
    width: fit-content;
}
.footer li{
    padding: 8px;
    color: black;
    opacity: 60%;
}
.footer p{
    font-size: 10px;
    margin-left: 1%;
}
.linetop{
    border-top: 1px solid gray;
    width: 75%;
    margin-top: 5px;
    margin-left: 15%;
}
.footertxt{
    display: flex;
    padding: 20px;
    gap: 5%;
    padding-left: 14%;
    padding-bottom: 3%;
}
.footertxt p{
    font-size: 12px;
    opacity: 60%;
}

.line a:hover{
    border-bottom: 1px solid black;
}
.line a{
    color: rgb(70, 143, 252);
}
.line{
    margin-left: 14%;
    margin-top: 10px;
}
.line p{
    font-size: 12px;}
.onetxt{
    padding-left: 34%;
}